.alternating-cards {
  &__card {
    display: flex;
    background-color: $color-14;
    color: $color-2;

    &--even {
      background-color: $color-13;
      color: $color-4;

      .btn--primary {
        border-color: inherit;
        color: inherit;
      }

      .btn:not(.btn--primary) {
        color: $color-2;

        &:hover {
          color: $color-2;
        }
      }
    }

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  &__image {
    width: 50%;
    min-height: 31.25rem;

    &--right {
      order: 2;
    }

    @media (max-width: $breakpoint-md) {
      width: 100%;

      &--right {
        order: 0;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      min-height: 31.25rem;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 75%;
    padding: 3rem;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      padding: 2rem;
    }

    @media (max-width: $breakpoint-sm) {
      padding: 1.5rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
    }
  }
}
