.hero {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 91.2vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(73, 73, 73, 0.4),
        rgba(185, 185, 185, 0.05)
      ),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");
    content: "";
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
    }
  }
}
