.image-grid {
  padding: 4rem 0;
  background-color: $color-13;

  &__content {
    margin: 0 auto 3rem;
    max-width: 37.5rem;
    text-align: center;

    p {
      margin-bottom: 1.25rem;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 18.75rem;
    margin-bottom: 2rem;
    border: 0.125rem solid $color-2;
    border-radius: 0.5rem;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      content: "";
      transition: background-color 0.6s ease;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;
      object-position: top;
      transition: transform 3s ease;
    }

    &:hover {
      &::after {
        background-color: rgba(0, 0, 0, 0.4);
      }

      img {
        transform: translateY(calc(-100% + 18.75rem));
      }
    }
  }
}
