.image-sandwich {
  padding: 4rem 0;

  &__image {
    margin: 2rem 0;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
    }

    @media (min-width: $breakpoint-md) {
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
