.text-sandwich {
  padding: 4rem 0;
  text-align: center;

  > * {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 2rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
