// ==================================================
// 1. Base (Foundation styles)
// ==================================================
@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "base/typography";

// ==================================================
// 2. Vendors
// ==================================================
@import "vendors/bootstrap/bootstrap-grid.scss";

// ==================================================
// 3. Constant
// ==================================================
@import "constant/header";
@import "constant/footer";

// ==================================================
// 4. Components
// ==================================================
@import "components/buttons";
@import "components/forms";
@import "components/cards";

// ==================================================
// 5. Sections
// ==================================================
@import "sections/hero";
@import "sections/image-sandwich";
@import "sections/image-grid";
@import "sections/alternating-cards";
@import "sections/icon-boxes";
@import "sections/text-sandwich";
@import "sections/contact_form";

// ==================================================
// 6. Utilities
// ==================================================
@import "utilities/typography";
