.footer {
  padding: 4rem 0 2rem;
  background-color: $color-2;

  &__info {
    h3 {
      margin-bottom: 2rem;
    }

    &__item {
      margin-bottom: 1.5rem;

      strong {
        display: block;
        margin-bottom: 0.25rem;
      }

      p {
        margin-bottom: 0;
      }
    }

    > p {
      margin-bottom: 0.5rem;
    }
  }

  &__newsletter {
    .newsletter-form {
      &__group {
        margin-bottom: 1rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
          padding: 0.75rem;
          border: 1px solid $color-12;
          background-color: $color-13;
          border-radius: 4px;

          &:focus {
            outline: none;
            border-color: $color-5;
          }
        }
      }

      &__privacy {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__bottom {
    margin-top: 4rem;
    padding-top: 2rem;
    text-align: center;
  }

  &__logo {
    margin-bottom: 4rem;

    img {
      max-width: 200px;
      height: auto;
    }
  }

  &__copyright {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    font-size: 0.875rem;
  }
}
