$color-1: rgb(148, 148, 148);
$color-2: rgb(255, 255, 255);
$color-3: rgb(4, 4, 4);
$color-4: rgb(0, 0, 0);
$color-5: rgb(218, 165, 32);
$color-6: rgb(246, 246, 254);
$color-7: rgb(79, 84, 93);
$color-8: rgb(60, 54, 49);
$color-9: rgb(242, 242, 242);
$color-10: rgb(76, 76, 76);
$color-11: rgb(216, 216, 216);
$color-12: rgb(47, 51, 56);
$color-13: rgb(227, 229, 229);
$color-14: rgb(144, 104, 68);
$color-15: rgba(60, 54, 49, 0);
$color-16: rgba(144, 104, 68, 0);
$color-17: rgb(153, 153, 153);
$color-18: rgba(218, 165, 33, 0.1);
$color-19: rgba(0, 0, 0, 0.7);
